{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atestados_professor.css') }}">
{% endblock %}

{% block body %}
    <nav class="search-container">
        <form action="/atestados_professor/index" method="POST" accept-charset="UTF-8">
            <div id="pesquisa">
                <input type="text" placeholder="Pesquisar Nome/RA" name="Pesquisar">
                <button type="submit"> <i class="fa fa-search"></i></button>
            </div>

            <div id="classificação">
                <label for="classificar">Classificar por:</label>
                <select name="classificar">
                    <option value="upload">Data de Upload</option>
                    <option value="i_afastamento">Ínicio do Afastamento</option>
                    <option value="f_afastamento">Fim do Afastamento</option>
                    <option value="alfabetica">Ordem Alfabética</option>
                </select>
            </div>

        </form>
    </nav>
    

    <section class="resultado-pesquisa">
        {% for usuario in usuarios %}
            {% for atestado in usuario.get("atestados") %}
                <article class="item-pesquisa">
                    <h3>Nome: {{ usuario.nome }}</h3>
                    <h3>RA: {{ usuario.ra }}</h3>
                    {% if usuario.get('atestados').get(atestado).status == "Não Verificado" %}
                        <h3>Status:
                            <a href="{{ url_for('atestados_professor.verificar', id=usuario.get('atestados').get(atestado).id, ra=usuario.ra, status='Deferido')}}">Deferir</a>
                            <a href="{{ url_for('atestados_professor.verificar', id=usuario.get('atestados').get(atestado).id, ra=usuario.ra, status='Indeferido')}}">Indeferir</a>
                        </h3>
                    {% else %}
                        <h3>Status: <a href="{{ url_for('atestados_professor.verificar', id=usuario.get('atestados').get(atestado).id, ra=usuario.ra, status='Não Verificado')}}">
                            {{ usuario.get('atestados').get(atestado).status }}
                        </a></h3>    
                    {% endif %}
                    <h3>Data de Upload: {{ usuario.get('atestados').get(atestado).data_criado }}</h3>
                    <h3>Ínicio do Afastamento: {{ usuario.get('atestados').get(atestado).c_afastamento}} </h3>
                    <h3>Fim do Afastamento: {{ usuario.get('atestados').get(atestado).f_afastamento}} </h3>
                    <a href="{{ url_for('atestados_professor.abrir_atestados', pdf=usuario.get('atestados').get(atestado).pdf) }}" target="_blank">Abrir PDF</a>
                    <a href="{{ url_for('atestados_professor.download', id=usuario.get('atestados').get(atestado).id, ra=usuario.ra) }}">Baixar PDF</a><br>
                    </article>
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}