{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atestados_alunos.css') }}">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="atestados">
            <h1>Gerenciador de Atestados</h1>

            <table  border=1 frame=box rules=all style="width:70%">
            
                <tr>
                    <th>Data de Emissão</th>
                    <th>PDF</th>
                    <th>Ações</th>
                    <th>Ínicio do Afastamento</th>
                    <th>Fim do Afastamento</th>
                    <th>Status</th>
                </tr>
                
                <tr class="item">
                    <td> 15/11/2006 </td>
                    <td><a href="{{ url_for('atestados_alunos.index')}}" target="_blank">Abrir</a></td>
                    <td><a href='{{ url_for("atestados_alunos.index") }}'>Apagar</a>
                        <a href="{{ url_for('atestados_alunos.index') }}">Baixar</a>
                    </th>
                    <td>15/11/2006</td>
                    <td>18/11/2006</td>
                    <td>Não Verificado</td>
                </tr>
            </table>

        </div>
        <div class="form">
        <h2>Adicionar Atestado</h2>
        <form action='/atestados_alunos/index', method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
            <input type='file' name='pdf' accept='application/pdf' class='upload-input' required>
            Afastado de <input type='date' name='c_afastamento'> até <input type='date' name="f_afastamento">
    
            <input type='submit' name='Adicionar Atestado'>
        </form>
        </div>
    </div>

{% endblock %}