{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atestados_alunos.css') }}">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="atestados">
            <h1>Gerenciador de Atestados</h1>

            {% if not atestados %}
                <h2>Você ainda não enviou nenhum atestado.</h2>
            {% else %}

            <table  border=1 frame=box rules=all class="tabela-atestados" >
            
                <tr>
                    <th>Data de Emissão</th>
                    <th>PDF</th>
                    <th>Ações</th>
                    <th>Ínicio do Afastamento</th>
                    <th>Fim do Afastamento</th>
                    <th>Status</th>
                </tr>
                
                {% for atestado in atestados %}
                    <tr class="item">
                        <td> {{ atestado.get('data_criado') }} </td>
                        <td><a href="{{ url_for('atestados_alunos.abrir_atestados', pdf=atestado.pdf) }}" target="_blank">Abrir</a></td>
                        <td><a href='/atestados_alunos/delete/{{atestado.id}}'>Apagar</a>
                            <a href="/atestados_alunos/download_atestados/{{atestado.id}}">Baixar</a>
                        </th>
                        <td>{{ atestado.c_afastamento }}</td>
                        <td>{{ atestado.f_afastamento }}</td>
                        <td>{{ atestado.status }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}

        </div>
        <div class="form">
        <h2>Adicionar Atestado</h2>
        <form action='/atestados_alunos/enviar_atestados', method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
            <input type='file' name='pdf' accept='application/pdf' class='upload-input' required>
            Afastado de <input type='date' name='c_afastamento'> até <input type='date' name="f_afastamento">
    
            <input type='submit' name='Adicionar Atestado'>
        </form>
        </div>
    </div>

{% endblock %}