{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atestados_professor.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
     <nav class="search-container">
        <form  method="POST" accept-charset="UTF-8">
            <input type="text" placeholder="Pesquisar Nome/RA" name="Pesquisar">
            <button type="submit"> <i class="fa fa-search"></i></button>
                
            <label for="classificar">Classificar por:</label>
            <select name="classificar">
                <option value="upload">Data de Upload</option>
                <option value="i_afastamento">Ínicio do Afastamento</option>
                <option value="f_afastamento">Fim do Afastamento</option>
                <option value="alfabetica">Ordem Alfabética</option>

            </select>

        </form>
    </nav>
    

    <section class="resultado-pesquisa">
                    <article class="item-pesquisa">
                        <h3>Nome: Caio César dos Santos</h3>
                        <h3>RA: 0001098206411 </h3>
                        <h3>Status:
                            <a>Deferir</a>
                            <a>Indeferir</a>
                        </h3>
                        <h3>Data de Upload: 18/11/2025 </h3>
                        <h3>Ínicio do Afastamento: 18/11/2025 </h3>
                        <h3>Fim do Afastamento: 20/11/2025 </h3>
                        <a>Abrir PDF</a>
                        <a>Baixar PDF</a><br>
                    </article>
    </section>
{% endblock %}