<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/cssAtes_prof.css">
</head>
<body>
    <div class="container">
        <form>
            <input type="text" placeholder="Insira o RA/nome do aluno" style="height: 25px;" size="30px">
            <button type="submit" style="margin-left: 5px;">
                <img src="../static/css/images/search_icon.png" alt="Lupa" style="width: 20px; height: 20px;">
            </button>
            <label for="inF" style="font-size: 27px;">Classificar por: </label>
            <select name="inF" id="inF" style="background-color: #E1E1E1;">
                <option value="Data de envio">Data de envio</option>
                <option value="Ordem alfabética">Ordem alfabética</option>
                <option value="Ordem núemrica de Ra">Ordem númerica</option>
                <option value="Situação">Situação do atestado</option>
            </select>
        </form>
        <nav>
            <p>
                <a href="Sair" style="font-size: 27px;">Sair</a>
            </p>
        </nav>
    </div>
    <section>
        <div>
            <p>Nome:</p>
            <p>RA:</p>
            <p>Data de Emissão:</p>
            <p>Data início de afastamento:</p>
            <p>Data de Retorno:</p>
            <p>Situação:</p>
            <p class="line" style="margin-right: 15px;">abrir pdf</p><p class="line">Baixar pdf</p>
        </div>
        <div>
            <p>Nome:</p>
            <p>RA:</p>
            <p>Data de Emissão:</p>
            <p>Data início de afastamento:</p>
            <p>Data de Retorno:</p>
            <p>Situação:</p>
            <p class="line" style="margin-right: 15px;">abrir pdf</p><p class="line">Baixar pdf</p>
        </div>
        <div>
            <p>Nome:</p>
            <p>RA:</p>
            <p>Data de Emissão:</p>
            <p>Data início de afastamento:</p>
            <p>Data de Retorno:</p>
            <p>Situação:</p>
            <p class="line" style="margin-right: 15px;">abrir pdf</p><p class="line">Baixar pdf</p>
        </div>
        <div>
            <p>Nome:</p>
            <p>RA:</p>
            <p>Data de Emissão:</p>
            <p>Data início de afastamento:</p>
            <p>Data de Retorno:</p>
            <p>Situação:</p>
            <p class="line" style="margin-right: 15px;">abrir pdf</p><p class="line">Baixar pdf</p>
        </div>
        <div>
            <p>Nome:</p>
            <p>RA:</p>
            <p>Data de Emissão:</p>
            <p>Data início de afastamento:</p>
            <p>Data de Retorno:</p>
            <p>Situação:</p>
            <p class="line" style="margin-right: 15px;">abrir pdf</p><p class="line">Baixar pdf</p>
        </div>
        <div>
            <p>Nome:</p>
            <p>RA:</p>
            <p>Data de Emissão:</p>
            <p>Data início de afastamento:</p>
            <p>Data de Retorno:</p>
            <p>Situação:</p>
            <p class="line" style="margin-right: 15px;">abrir pdf</p><p class="line">Baixar pdf</p>
        </div>
      
    </section>
    
</body>
</html>