<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
   
</head>

<body>
    <h1 class="acesse_como">Acesse como:</h1>
    <div style="margin-top: 1%;" class="corpo_home"> 
        
        <div>
        <a href="cadastro_aluno.html">
            <button class="button" >Aluno</button>
        </a>
        </div>

        <div>
        <a href="login_professor.html">
            <button class="button" >Professor</button>
        </a>
        </div>

        <div>
        <a href="equipe_agil.html">
            <button class="button" >Equipe Ágil</button>
        </a>
        </div>
    </div>
</body>
</html>