{% extends 'base.html' %}

{% block head %}
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block body %}
    <h1>Acesse como: </h1>
    <div class="corpo-home"> 
        
        <a href="{{ url_for('auth.login') }}">
            <button>Aluno</button>
        </a>

        <a href="{{url_for('auth.login_professor')}}">
            <button>Professor</button>
        </a>

        <a href="{{url_for('auth.login')}}">
            <button>Equipe Ágil</button>
        </a>

    </div>
{% endblock %}