{% extends 'base.html' %}

{% block head %}
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block body %}
    <h1>Acesse como: </h1>
    <div class="corpo-home"> 
        
        <a href="login_aluno.html">
            <button>Aluno</button>
        </a>

        <a href="login_professor.html">
            <button>Professor</button>
        </a>

        <a href="equipe_agil.html">
            <button>Equipe Ágil</button>
        </a>

    </div>
{% endblock %}