{% extends 'base.html' %}

{% block head %}
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block body %}
    <div class="login-container">
        <h2>Login Aluno</h2>

        <label class="la_logina">RA</label>
        <input class="input_logina" type="text">
        
        <label class="la_logina">Senha</label>
        <input class="input_logina" type="password">
        
        <a class="a_login" href="{{ url_for('atestados_alunos') }}"><button>Acessar</button></a>

        <p>
        Ainda não possui uma conta?
        <a class="a_login" href="{{ url_for('cadastro_aluno') }}">Cadastre-se!</a>
        </p>
    </div>
{% endblock %}