<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Professor</title>
    <link rel="stylesheet" href="../static/css/Princi.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: left;
            font-family: sans-serif;
        }
      
    </style>
</head>
<body>
    <div>
        <h2 id="login">Login professor</h2>
        <label for="senha">Senha</label><br>
        <input id="input_loginpro" type="password"><br>
        <a href="atestados_professor.html">
        <button id="but_loginpro">Acessar</button>
        </a>
    </div>
</body>
</html>