<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Aluno</title>
    <link rel="stylesheet" href="../static/css/Princi.css">
    <style>
        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fff;
        }

    </style>

</head>
<body>

    <div class="Container3">
    <h2 id="h2">Login Aluno</h2>

    <label class="la_logina">RA</label>
    <input class="input_logina" type="number">
    
    <label class="la_logina">Senha</label>
    <input class="input_logina" type="password">
    
    <a class="a_login" href="atestados_alunos.html"><button id="but_login">Acessar</button></a>

    <p id="p_login">
    Ainda não possui uma conta?
    <a class="a_login" href="cadastro_aluno.html">Cadastre-se!</a>
    </p>
    </div>
    
</body>
</html>