{% extends 'base.html'%}

{% block head %}
    <title>Login Professor</title>
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block body %}
    <div class="login-container">
        <h2>Login professor</h2>

        <form action="{{ url_for('auth.login_professor') }}" method="POST">
            <label for="senha">Senha</label>
            <input name="senha" id="input_loginpro" type="password" required>
            <button type="submit" id="but_loginpro">Acessar</button>
        </form>

    </div>
{% endblock %}
