{% extends 'base.html'%}

{% block head %}
    <title>Login Professor</title>
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="login-container">
            <h2>Login Professor</h2>

            <form action="{{ url_for('auth.login_professor') }}" method="POST">
                <label for="senha">Senha</label>
                <input name="senha" id="senha" type="password" required>
                
                <input type="submit" value="Acessar">
            </form>
        </div>
    </div>
{% endblock %}
