{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrum_master.css') }}">
{% endblock %}


{% block body %}

    {% if not logado %}
    <div class="login-container">
        <h2>Login Scrum Master</h2>

        <form action="/scrum_master/login" method="post" accept-charset="UTF-8">
            
            <label for="senha">Senha</label>
            <input type="password" name="senha">

            <input type="submit" name="logar" placeholder="Acessar">

        </form>

    </div>
    {% else %}

        {% if dados_usuario.equipe == 'Nenhuma' %}

        <div class="login-container">
            <h2>Nome da sua equipe: </h2>
            
            <form action="/scrum_master/definir_nome" method='post' accept-charset="UTF-8">
                <input type="text" name="nome-equipe">
                <input type="submit" name="confirmar" placeholder="confirmar">
            </form>

        </div>
        {% else %}

    
        <section class="container">

            <div class="membro">
                <h1>{{dados_usuario.nome}} - {{dados_usuario.função}}</h1>
                <h2>RA: {{dados_usuario.ra}}</h2>
                <h2>Nome da Equipe: <a href="{{url_for('scrum_master.definir_nome')}}">{{dados_usuario.equipe}}</a></h2>   
            </div>

            <h2>Adicionar Membro: </h2>

            <form action="scrum_master/adicionar_membro" method="POST" accept-charset="UTF-8">
                <label for="nome-aluno">Membro: </label>
                <select name="nome-aluno"   >
                    <option value="" disabled selected hidden>Escolha um aluno</option>
                    {% for aluno in alunos %}
                        {% if aluno.equipe == 'Nenhuma' %}
                            <option value="aluno-{{ loop.index }}">{{aluno.nome}} - {{aluno.ra}}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <label for="função">Função: </label>
                <select name="função">
                    <option value="devteam">DevTeam</option>
                    <option value="scrum_master">Scrum Master</option>
                    <option value="PO">Product Owner</option>

                </select>


            </form>

        </section>



        {% endif %}
    {% endif %}

{% endblock %}