{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrum.css') }}">
{% endblock %}


{% block body %}

    {% if dados_usuario.equipe == 'Nenhuma' %}
        <div class="não-logado">
            <h1>Avaliação da Equipe Scrum</h1>
            
            <h2>Você não está em uma equipe ainda. Aguarde que o Scrum Master da sua equipe te cadastre!</h2>
        </div>
    {% else %}
        <section class="container">

            <h1>Equipe {{dados_usuario.equipe}} - {{equipe.num_membros}} Integrante(s) - <a href="{{ url_for('auth.login')}}">Suas Notas</a></h1>   
            <article class="lista-de-membros">
                    {% for membro in equipe.membros %}
                        {% if membro != dados_usuario.ra %}
                           <div class="membro">
                                <h2>{{pegar_valor(membro, 'nome')}} / {{membro}}</h2> 
                                <h2 class="função">{{pegar_valor(membro, 'função')}}</h2>
                                <div class="notas">
                                    {% for nota in pegar_valor(membro, 'notas')%}
                                        <h3>{{nota}}: 0</h3>
                                  {% endfor %}
                                    
                                {% if equipe.avaliação %}
                                    <h3><a href="/scrum/avaliar_membro/{{membro}}" id="avaliar">Avaliar Membro</a></h3>
                                {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </article>

        </section>

    {% endif %}
{% endblock %}