body, html {
    margin: 0;
    font-family: Roboto Slab;
    background-color: #185c6e;
    color: #f4f3f6;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}


.critério {
    border-radius: 20px;
    background-color: #f4f3f6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #185c6e;
    width: 100%;
    height: 16vh;
    margin: 20px;
}

.critério h2{
    font-size: 1.5em;
    padding: 2% 0 0 2%;
}


.comentários-submit{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

textarea{
    width: 80%;
    height: 43.5%;
    background-color: #f4f3f6;
    color: #185c6e;
    border-radius: 20px;
    font-size: larger;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="submit"]{
    background-color:#f4f3f6;
    color: #185c6e;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 60%;
    margin-top: 5%;
    font-size: large;
    padding: 7px;
    cursor: pointer;
    transition-duration: 0.2s;
}

input[type='submit']:hover{
    padding: 10px;
}

input[type="radio"] {
    margin: 0 5% 3% 2%;
}

label {
    font-size: 1.5em;
    margin-right: 5%;
}

header{
    width: 100vw;
}

h1 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: -0.5%;
}

/* Celulares (até 768px) */
@media (max-width: 768px) {

    header > h1, .critério > h2{
        font-size: 1.2em;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .critério {
        width: 90%;
        height: 16vh;
        margin: 20px;
    }

    .critério * {
        text-align: center;
    }
    
    .comentários-submit{
        height: 300px;
    }

    textarea{
        width: 80%;
        height: 200px;
        background-color: #f4f3f6;
        color: #185c6e;
        border-radius: 20px;
        font-size: larger;
        padding: 7px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

