form {
    display: flex;
    justify-content: space-between;
    width: 650px;
}
.line{
    display: inline;

}
section{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 2px;
    border-color: black;
    
}
.line>p{
    width: 20px;
    height: 20px;
}

section>div{
    padding: 20px;
    border: 2px solid black; 
    border-radius: 5px; 
    width: 350px;
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 20px;
}

form {
    justify-self: start;
}

nav {
    justify-self: end;
    margin-right: 60px;
}