html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto Slab;
    background-color: #185c6e;
    color: #f4f3f6;
    height: 100%;
}

/* Centraliza tudo menos a navbar */
body {
    display: flex;
    flex-direction: column;
}

/* container geral para alinhar o login ao centro */
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%; /* para garantir espaço lateral no mobile */
}

/* Bloco do login */
.login-container {
    background-color: #f4f3f6;
    color: #185c6e;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    width: 90%;
    max-width: 400px;
    padding: 30px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 5px;
}

label {
    display: block;
    margin: 20px 0 5px 5px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #185c6e;
    border-radius: 5px;
}

input[type='submit'], button {
    background-color: #185c6e;
    color: #f4f3f6;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    display: block;
    margin: 20px auto 10px auto;
    transition-duration: 0.2s;
    border: 2px solid #185c6e;
    width: fit-content;
}

input[type='submit']:hover, button:hover {
    background-color: #f4f3f6;
    color: #185c6e;
    padding: 12px 32px;
}

p {
    font-size: medium;
    text-align: center;
    margin-top: 5%;
}

a {
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
}

@media (max-width: 728px) {
    .main-content{
        margin-bottom: 50%;
    }
}