.topnav{
    background-color: #a1c8d4;
    width: 100vw;
    height: 10vh;
    justify-content: right;
    align-items: center;
    display: flex;
}

.topnav a {
    background-color: transparent;
    border: 0px;
    color: #f4f3f6;
    font-size: larger;
    font-family: Roboto Slab;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    margin-right: 2%;
    transition-duration: 0.2s;
}

.topnav a:hover{
    background-color: #96a5c9;
    padding: 12px;
    border-radius: 5px;
}