body, html {
    margin: 0;
    font-family: Roboto Slab, serif;
    background-color: #185c6e;
    color: #f4f3f6;
}

/* Oculta scrollbar */
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header {
    width: 100%;
    padding-top: 2%;
    text-align: center;
}

h1 {
    font-size: 2.2em;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 20px;
    padding: 40px;
    align-items: flex-start;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.critério {
    border-radius: 15px;
    background-color: #f4f3f6;
    color: #185c6e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.critério h2 {
    font-size: 1.4em;
    margin: 0;
}

.comentários {
    max-height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 10px;
}

.comentário {
    background-color: #f4f3f6;
    color: #185c6e;
    border-radius: 15px;
    padding: 20px;
    font-size: 1.1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    word-wrap: break-word;
    text-align: center;
}

input[type="submit"] {
    background-color: #f4f3f6;
    color: #185c6e;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 60%;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #e1e1e1;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}
