body, html {
    margin: 0;
    font-family: Roboto Slab;
    background-color: #185c6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5f5ee;
}


.login-container{
    text-align: left;
    border-radius: 20px;
    background-color: #f5f5ee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #185c6e;
    margin: 5% 0;
    width: 30%;
}

.login-container h2 {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: xx-large;
    margin-left: 15px;
}

label {
    display: block;
    margin: 20px 0 0 15px;
    font-weight: bold;  
}

.login-container form{
    display: flex;
    flex-direction: column;
}

.login-container input {
    width: 85%;
    padding: 8px;
    margin: 20px 0 0 15px;
    border: 1px solid #185c6e;
    border-radius: 5px;
}

.login-container input[type='submit'] {
    background-color: #185c6e;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    margin: auto;
    margin-top: 10%;
    transition-duration: 0.2s;
    border: 2px solid #185c6e;
    margin-bottom: 3%;
}

.login-container input[type='submit']:hover{
    color: #185c6e;
    padding: 12px 32px;
    background-color: #f5f5ee;
}

.lista-de-membros{
    border-radius: 20px;
    background-color: #f5f5ee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #185c6e;
    width: 90vw;
    height: 80vh;
}

.membro{
    background-color: #185c6e;
    width: 96%;
    margin-top: 2%;
    padding-left: 10px;
    border-radius: 20px;
    color: #f5f5ee;
}