body, html {
    margin: 0;
    font-family: Roboto Slab;
    background-color: #185c6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f4f3f6;
}


.login-container{
    text-align: left;
    border-radius: 20px;
    background-color: #f4f3f6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #185c6e;
    margin: 5% 0;
    width: 30%;
}

.login-container h2 {
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 15px;
}

.login-container label {
    display: block;
    margin: 20px 0 0 15px;
    font-weight: bold;  
}

.login-container form{
    display: flex;
    flex-direction: column;
}

.login-container input {
    width: 85%;
    padding: 8px;
    margin: 20px 0 0 15px;
    border: 1px solid #185c6e;
    border-radius: 5px;
}

.login-container input[type='submit'] {
    background-color: #185c6e;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    margin: auto;
    margin-top: 10%;
    transition-duration: 0.2s;
    border: 2px solid #185c6e;
    margin-bottom: 3%;
}

.login-container input[type='submit']:hover{
    color: #185c6e;
    padding: 12px 32px;
    background-color: #f5f5ee;
}

/* CSS do add menbros */

h1{
    font-size: 1.8em;
    text-align: center;
}

.container{
    width: 100vw;
    height: 70vh;
}

.lista-de-membros{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 48vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #185c6e #f4f3f6;
    overflow-x: hidden;
}


.adicionar-membro{
    font-weight: bold;
    font-size: larger;
    width: 60%;
    height: 20%;
    display: grid;
    padding: 10px;
    background-color: #f4f3f6;
    border: 2px solid #185c6e;
    border-radius: 20px;
    align-items: left;
    margin-left: 0.8%;
    position: fixed;
    bottom: 6%;
    left: 0;
}

.adicionar-membro{
    color: #185c6e;
}

.adicionar-membro select{
    margin-right: 20px;
    border: 2px solid #185c6e;
    border-radius: 10px;
    padding: 3px;
    font-family: Roboto Slab;
    font-weight: bold;
    color: #185c6e;
}

.adicionar-membro input {
    background-color: #185c6e;
    color: #f4f3f6;
    border: 3px solid #f4f3f6;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.2s;
    gap: 10px;
    margin-top: 20px;
}

.adicionar-membro input:hover{
    background-color: #f4f3f6;
    color: #185c6e;
    border: 3px solid #185c6e;
    padding: 12px 32px;
    transform: scale(1.01);
}

option{
    font-weight: bolder;
}

.membro {
    background-color: #f4f3f6;
    padding: 15px;
    border-radius: 15px;
    margin: 5px 0;
    color : #185c6e;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: 0.3s;
    width: 96%;
    font-family: Roboto Slab;
    font-size: large;
    font-weight: bold;
}
.membro:hover {
    transform: scale(1.01);
}

a{
    color: #f4f3f6;
} 

.avaliação {
    position: absolute;
    bottom: 20%;
    left: 32%;
    white-space: nowrap;
    width: 100%;
}

.avaliação h1{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1280px){
    h1{
        font-size: 1.5em;
    }
    .adicionar-membro{
        width: 40%;
        height: 15%;
        font-size: small;
    }
    .membro{
        font-size: small;
    }
    .avaliação{
        font-size: small;
    }
}

@media (max-width:768px){
     h1{
        font-size: 1.3em;
    }
    .avaliação{
        font-size: smaller;
   }
   .adicionar-membro{
        width: 100%;
        height: 15%;
    }
}
    
@media (max-width: 480px){
     h1{
        font-size: 1.2em;
    }
    .avaliação{
        font-size: 10px;
   }
   .adicionar-membro{
        width: 100%;
        height: 15%;
    }
}