.acesse_como {
    display: flex !important; 
    font-size: 50px;
    justify-content: center !important;
    margin-top: 13%;
    margin-left: 4%;
}

.button {
    background-color: #251ca3;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 3% 5% 5% 5%;
    transition-duration: 0.2s;
    cursor: pointer;
    
    margin-bottom: 15%;
    width: 150%;
    height: 50%;

}

.button:hover {
    background-color: white; 
    color: #251ca3;
}

.corpo_home  {
    display: grid;
    gap: 20px 500px;   
    justify-content: center;
    align-items: center;
}


